<nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
            aria-label="Toggle navigation">
            <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <a href="#" style="width: 50px;">
                    <img src="/images/SDRLogo5.png" alt="SDR Logo" class="w-100">
                </a>
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Navigation</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% for key, values in items.items() %}
                        <li class="nav-item">
                            {% if values.type == 'page' %}
                                {% if page == key %}
                                    <a href="#" class="nav-link active" aria-current="page">{{ values.name }}</a>
                                {% else %}
                                    <a href="{{ values.page }}" class="nav-link">{{ values.name }}</a>
                                {% endif %}
                            {% elif values.type == 'action' %}

                            {% else %}

                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</nav>
