$partitions: 100;

@mixin col-x-list {
    @for $i from 0 through $partitions {
        .b-#{$i} {
            grid-row-end: $i + 1;
        }
        .t-#{$i} {
            grid-row-start: $i + 1;
        }
        .l-#{$i} {
            grid-column-start: $i + 1;
        }
        .r-#{$i} {
            grid-column-end: $i + 1;
        }
    }
}

.struct {
    display: grid;
    row-gap: 0;
    column-gap: 0;
    grid-template-columns: repeat(100, 1%);
    grid-template-rows: repeat(100, 1%);
    height: 100%;
    width: 100%;
}

.struct {
    @include col-x-list()
}
